.dropdown-wrapper{
    position: absolute;
    background: white;
    z-index: 3;
}

.search-suggestion-box{
    display: flex;
    height: 438px;
    width: 778px;
    padding: 5px 5px 5px 0;
    box-shadow: 0 12px 24px rgb(0 0 0 / 40%);
}

.searchBoxInput{
    width: 100%;
    padding-right: 24px;
    font-size: 16px;
    height: 35px;
    outline-color: #ffbd45;
    border: 1px solid lightgray;
}

.search-box-product-titles{
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #333;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 0;
    padding-bottom: 4px;
}

.bold-text{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
}

.suggestion-list{
    font-family: Prompt;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: .03em;
    color: #666;
    padding-left: 16px;
}
.suggestion-list ::after{
    display: block;
    content: '';
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.suggestion-list.fromLeft:after {
    transform-origin: 0% 50%;
}

.text-ellipses{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-box-product-main-title {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #333;
    padding: 12px 0 8px 5px;
}

.pr1{
    padding: 5px;
}

.search-box-product-name {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #333;
    margin: 0;
    padding: 6px 0 0 0;
    text-decoration: underline;
    text-decoration-color: white;
}

.price-old {
    font-size: 14px!important;
    display: inline-block;
    text-decoration: inherit;
    line-height: 20px;
    color: #000;
}

.product-price-suggestion-box {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .03em;
    color: #1d6bb8;
}

.oldPriceBeforeDiscount {
    text-decoration-line: line-through;
    font-size: 18px;
}

.price-strike {
    font-size: 12px;
    margin-left: 8px;
    color: #999595;
}